{% extends 'root.html' %}{% block title %}
Add Staff
{% endblock title%}
{% block content %}
<main>
    <div class="container">

      <section class="section register min-vh-100 min-vw-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="assets/img/logo.png" alt="">
                  <span class="d-none d-lg-block">Registration Form</span>
                </a>
              </div>

              {% comment %} <div class="card mb-3">

                <div class="card-body"> {% endcomment %}

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Enter Personal Details</h5>
                    {% comment %} <p class="text-center small"></p> {% endcomment %}
                  </div>

                  <form class="row g-3 needs-validation" novalidate>
                    <div class="d-flex flex-row justify-content-center">
                    <div class="col-10 mx-3">
                      <label for="yourName" class="form-label">First Name</label>
                      <input type="text" name="name" class="form-control" id="yourName" required>
                      <div class="invalid-feedback">Please, enter your name!</div>
                    </div>

                    <div class="col-10">
                        <label for="yourName" class="form-label">Last Name</label>
                        <input type="text" name="name" class="form-control" id="yourName" required>
                        <div class="invalid-feedback">Please, enter your name!</div>
                      </div>
                    </div>
                    <div class="d-flex flex-row justify-content-center">
                    <div class="col-10 mx-3">
                      <label for="yourEmail" class="form-label">Email</label>
                      <input type="email" name="email" class="form-control" id="yourEmail" required>
                      <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                    </div>

                    <div class="col-10">
                      <label for="yourUsername" class="form-label">Username</label>
                      <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                        <input type="text" name="user_name" class="form-control" id="Username" required>
                        <div class="invalid-feedback">Please choose a username.</div>
                      </div>
                    </div>
                </div>
<div class="d-flex flex-row justify-content-center">
                    <div class="col-10 mx-3">
                      <label for="yourPassword" class="form-label">Password</label>
                      <input type="password" name="password" class="form-control" id="yourPassword" required>
                      <div class="invalid-feedback">Please enter your password!</div>
                    </div>
                    <div class="col-10">
                        <label for="verifyPassword" class="form-label">Confirm Password</label>
                        <input type="verifypassword" name="verify_password" class="form-control" id="verifyPassword" required>
                        <div class="invalid-feedback">Please enter your password!</div>
                      </div>
                    </div>
                    <div>
                        <label for="formFileLg" class="form-label">Choose Profile Picture</label>
                        <input class="form-control form-control-lg" accept="image/*" id="formFileLg" type="file">
                      </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Create Account</button>
                    </div>
                    
                  </form>

                {% comment %} </div>
              </div> {% endcomment %}

            </div>
          </div>
        </div>

      </section>

    </div>
  </main>{% endblock %}