{% extends 'root.html' %} {% block content %}
<main>
  <div class="container">
    <section
      class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
    >
      <div class="container">
        <div class="row justify-content-center">
          <div
            class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center"
          >
            <!-- End Logo -->

            <div class="card mb-3">
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Report Divorce</h5>
                  <p class="text-center small">
                    Report Divorce
                  </p>
                </div>

                <form
                  class="row g-3 needs-validation"
                  method="POST"
                  onsubmit="resetForm()"
                  action="{% url 'reportDivorce' %}"
                >
                  {% csrf_token %}
                  {% for field in form %}
                   <div class="col-10 flex-column mx-1">
                    <label for="yourName" class="form-label">{{ field.label }}</label>
                    {{ field }}
                  </div>
                  {% endfor %}
                  <div class="col-12">
                    <button
                      class="btn btn-primary w-50 mx-auto d-block"
                      type="submit"
                    >
                      Report-divorce
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
{% endblock content %}



