{%extends 'root.html'%}{% block title %}
View Kebele
{% endblock title %}
{% block content %}
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Husband_name</th>
        <th scope="col">Wife_name</th>
        <th scope="col">Marriage_date</th>
        <th scope="col">Check</th>
      </tr>
    </thead>
    <tbody>
      <tbody>
        {% for report in reports %}
        <tr>
        <td>{{ report.id }}</td>
        <td>{{ report.first_name_hus }}</td>
        <td> {{report.first_name_wife }}</td>
        <td>{{ report.marriage_date }}</td>
        <td>
        <a href="view_marriage_report/{{report.id}}">
          Check</a>
        </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  
  
{% endblock %}