{%extends 'root.html'%}{% block title %}
View Birth
{% endblock title %}
{% block content %}
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Kebele</th>
        <th scope="col">Birth Date</th>
        <th scope="col">Birth Place</th>
        <th scope="col">Gender</th>
      </tr>
    </thead>
    <tbody>
      <tbody>
        {% for i in count  %}
        {% for birth in births %}
      
        <tr>
        <td>B00{{ birth.id }}K{{i}}</td>
        <td>{{ birth.first_name }} </td>
        <td>{{ birth.last_name }}</td>
        <td>{{ birth.for_kebele }}</td>
        <td>{{ birth.birth_date }}</td>
        <td> {{birth.birth_place}}</td>
        <td> {{birth.gender}}</td>
        </tr>
        {% endfor %}
        {% endfor %}
    </tbody>
  </table>
  
  
{% endblock %}