{%extends 'root.html'%}{% block title %}
View Kebele
{% endblock title %}
{% block content %}
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
        <th scope="col">Created At</th>
      </tr>
    </thead>
    <tbody>
      <tbody>
        {% for kebele in kebeles %}
        <tr>
        <td>{{ kebele.id }}</td>
        <td>{{ kebele.kebele_name }}</td>
        <td> {{kebele.location}}</td>
        <td>{{ kebele.created_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  
  
{% endblock %}